@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

.container-fluid {
    max-width: 1200px;
}

.carousel-indicators li {
    height: auto;
    text-indent: 0;
    color: #fff;
}

.eaglepath {
    background: url("../img/eagle.png") no-repeat;
    background-size: cover;
    background-position: center center;

}

.navbar, .navbar:focus, .navbar:active, .navbar:hover {
    border: none;
    background: none;
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;

}

.navbar-brand, .navbar-brand:hover, .navbar-brand:active, .navbar-brand:focus {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
}

.navbar .navbar-nav > li > a {
    color: #f9e0e0;
    font-size: 14px;
}

.navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
    color: #fce38a;
    font-size: 14px;
    background: none;
}

.nav_butt {
    border-bottom: solid 2px transparent;
}

.nav_butt:hover {
    border-bottom: solid 2px #fce38a;
}

.item {
    height: 725px;
}

.carousel-inner {
    min-height: 640px;

}

.carousel {
    margin-top: 5px;
}

.carousel-indicators li.active {
    border-radius: 0;
    border-color: transparent;
    width: 175px;
    height: auto;
    background: none;
    margin: 0 10px;
    border: none;
    border-top: 3px solid #fff;
    position: relative;
    box-sizing: border-box;
}

@keyframes width100 {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.carousel-indicators li.active::before {
    content: ' ';
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    border: none;
    border-top: 3px solid #f38181;
    animation: width100 3s 1 linear;
}

.carousel-indicators li {
    border-radius: 0;
    border-color: transparent;
    margin: 0 10px;
    width: 175px;
    height: auto;
    border-top: 3px solid rgba(255, 255, 255, 0.5);
    background: none;
    text-transform: uppercase;
    padding-top: 10px;
}

.what_we_do h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    padding-top: 50px;
}

.story h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.lorem_content h3 {
    color: #d0d0d0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 50px;
}

.navbar-toggle, span.icon-bar {
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
}

.pic-num1 {
    background: url("../img/pic-num1.png") no-repeat;
    border-color: transparent;
    padding-top: 100px;
    color: #ffffff;
}

/*попытка сделать нормальные картинки. */
.three {
    padding-bottom: 50px;
}
.team_pic > img {
    width:100%;
    height:100%;
}
.team_pic {
    position: relative;
    /*overflow: hidden;
    */
    padding-left: 0;

}

.team_pic:hover {
    bottom: 5px;
    right: 5px;
    box-shadow: 5px 5px 5px #95e1d3;
}



.team_pic > h3 {
    position: absolute;
    margin-top: -175px;
    margin-left: 120px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: none;
}

.team_pic:hover > h3 {
    display: block;
}

.grad_boxes {
    margin-top: 50px;
    margin-bottom: 50px;
}

.grad_boxes_one {
    background: url("../img/apple_table.png") no-repeat;
    height: 250px;
    width: 380px;
    margin: 0 auto 10px;
}

.grad_boxes_two {
    background: url("../img/iphone6.png") no-repeat;
    height: 250px;
    width: 380px;
    margin: 0 auto 10px;
}

.grad_boxes_three {
    background: url("../img/fucking_fikus.png") no-repeat;
    height: 250px;
    width: 380px;
    margin: 0 auto 10px;
}

.grad_boxes_one, .grad_boxes_two, .grad_boxes_three {
    position: relative;
    bottom: 0;
    right: 0;
    transition: all 0.3s;
}

.grad_boxes_one:hover, .grad_boxes_two:hover, .grad_boxes_three:hover {
    bottom: 5px;
    right: 5px;
    box-shadow: 5px 5px 0 #95e1d3;
}

@media (max-width: 1200px) {
    .grad_boxes_one, .grad_boxes_two, .grad_boxes_tree {
    }
}

@media (max-width: 400px) {
    .grad_boxes_one, .grad_boxes_two, .grad_boxes_tree {
    }
}

.shadow_icon h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.shadow_icon {
    padding-top: 25%;
    display: none;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 250px;
    text-align: center;
    color: #fff;
}

.grad_boxes_one:hover .shadow_icon {
    display: block;
    background: linear-gradient(to bottom, #db7675, #ebd483);
    opacity: 0.7;
    cursor: pointer;
    height: 250px;
    width: 380px;
    margin-left: 0;
    position: relative;
    left: -15px;
}

.grad_boxes_two:hover .shadow_icon {
    display: block;
    background: linear-gradient(to bottom, #db7675, #ebd483);
    opacity: 0.7;
    cursor: pointer;
    height: 250px;
    width: 380px;
    margin-left: 0;
    position: relative;
    left: -15px;
}

.grad_boxes_tree:hover .shadow_icon {
    display: block;
    background: linear-gradient(to bottom, #db7675, #ebd483);
    opacity: 0.7;
    cursor: pointer;
    height: 250px;
    width: 380px;
    margin-left: 0;
    position: relative;
    left: -15px;
}

.black {
    background: black;
}

.red {
    background: red;
}

.blue {
    background: #95e1d3;
}

.vertical_border {
    border-left: 1px #b3b3b3;
    border-right: 1px #b3b3b3;
}

.num_in_blue_row {
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: bold;
    margin-top: 25px;
}

.content_in_blue_row {
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 25px;
}

.boxes_with_mini_content {
    margin: 50px;
    padding-bottom: 49px;
    border-bottom: 1px solid #e5e5e5;
}

.second_boxes_with_mini_content {
    margin: 50px;
}

.mini_header {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #333333;
    font-weight: bolder;
}

.mini_content {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #b3b3b3;
}

.mini_logo {
    float: left;
    margin-top: 10px;
}

.mini_text {
    margin-left: 60px;
}

.river {
    background: url("../img/background2.jpg");

    height: 832px;
}

.iDev {
    margin-top: 50px;

}

.services {
    margin: 50px 0;
}

#miniCarousel {
    height: 150px;
}

.mini_slids {
    height: 150px;
    background: #3c3c3c;
}

.item {
    min-height: 150px;
}

.carousel-inner {
    min-height: 150px;
}

.quote {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    color: gray;
}

.quote_author {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
    height: 150px;
    overflow-y: scroll;
    margin: 19px;
    padding: 0;
}

.panel-title {
    position: relative;
}

.panel-title::after {
    content: "\f078";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    font-weight: bold;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border-bottom: 1px;
    border-top: 1px;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}
.hipsters_logo {
    padding: 50px 0;
    background: #f8f8f8;
}
.dude {
    padding-top: 50px;
}
.name {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #3f3f3f;
}
.job {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 15px;
    color: #3f3f3f;
}
.blablabla {
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-family: 12px;
}
.ggg {
    padding-top: 50px;
}
.woman > img {
    margin-left: -10px;
}
.insta_text {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    font-weight: bold;
}
.insta_short_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #999999;
}
.grey_insta_line {
    margin-left: 20px;
}
.likes {
    display: inline;
}
.comm {
    margin-left: 20px;
}
.comments > p {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 15px;
    color: #a6a6a6;
}
.likes > i {
    color: #95e1d3;
}

